.recoverPasswordWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 75px;
    img {
        margin-bottom: 30px;
    }
    h1 {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }
    .text {
        width: 674px;
        text-align: center;
        font-size: 16px;
        line-height: 30px;
        color: #999999;
    }
    button {
        height: 64px;
        width: 420px;
        margin-top: 40px;
        background: #4E74F5;
        border-radius: 10000px;
        border: none;
        color: white;
        font-size: 16px;
        line-height: 13px;
    }
    span {
        margin-top: 24px;
        color: #999999;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
    }
    form {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: #FB2424;
        input {
            width: 100%;
            height: 56px;
            margin-top: 16px;
            border: 1px solid #4E74F5;
            box-sizing: border-box;
            border-radius: 12px;
            background: none;
            padding-left: 20px;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            outline: none;
        }
        .errorField {
            border: 1px solid #FB2424;
        }
        .isSubmitting {
            background: #F2F2F2;
            border: 1px solid #F2F2F2;
            box-sizing: border-box;
            color: #999999;
        }
        ::-webkit-input-placeholder {
            font-family: 'Open' Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #E6E6E6;
          }
          :-ms-input-placeholder {
            font-family: 'Open' Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #E6E6E6;
          }
          ::-moz-placeholder {
            font-family: 'Open' Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #E6E6E6;
            opacity: 1;
          }
          :-moz-placeholder {
            font-family: 'Open' Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #E6E6E6;
            opacity: 1;
          }
        
        .submitButtonWrapper {
            position: relative;
            img {
                position: absolute;
                width: 24px;
                top: 60px;
                left: 129px;
            }
        }
    }
}